original_alphabet = "abcdefghijklmnopqrstuvwxyz"
substitute_alphabet = "qwertyuiopasdfghjklzxcvbnm"

def monoalphabetic_decrypt(cipher_text):
    decrypted_text = ""
    for char in cipher_text.lower():
        if char in substitute_alphabet:
            index = substitute_alphabet.index(char)
            decrypted_text += original_alphabet[index]
        else:
            decrypted_text += char
    return decrypted_text

cipher_text = input("Enter the cipher text: ")
print("Decrypted Text:", monoalphabetic_decrypt(cipher_text))
